{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>sno</th>
        <th>Mobile</th>
        <th>Name</th>
        <th>Msg</th>
        <th>Price</th>
        <th>Voucher</th>
        <th>date</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        serverSide: true,
        columns: [
          {data: 'sno'},
          {data: 'Mobile'},
          {data: 'Name', orderable: false},
          {data: 'Msg', orderable: false},
          {data: 'Price'},
          {data: 'Voucher'},
          {data: 'date'}
        ],
      });
    });
  </script>
{% endblock %}


